h3.member-page-title.d-xl-none 會員中心
h3.member-page-title.d-none.d-xl-block MEMBER
.member-menu
    p.member-name.d-none.d-xl-block 會員中心 <br> 您好，Jennie！
    ul.member-menu-list
        li.bonus-list(class=pageID === 'page-member-bonus' ? 'active' : '')
            a(href="/memberBonus.html") 回饋獎金
        li.fa-point-list(class=pageID === 'page-fa-member' ? 'active' : '')
            a(href="/faPoint.html") FA POINTS
        li.coupon-list(class=pageID === 'page-coupon' ? 'active' : '')
            a(href="/coupon.html") 折價券
        li.wallet-list(class=pageID === 'page-wallet' ? 'active' : '')
            a(href="/wallet.html") 購物金
        li.order-list(class=pageID === 'page-order' ? 'active' : '')
            a(href="/order.html") 我的訂單
        li.favorite-list(class=pageID === 'page-favorite' ? 'active' : '')
            a(href="/favorite.html") 收藏與追蹤
        li.recommend-list
            a(href="/member/address") 我的推薦
        li.Customer-list 
            a(href="/member/password") 客服中心
        li.member-data-list(class=pageID === 'page-member-info' ? 'active' : '')
            a(href="/memberUserInfo.html") 會員資料維護
        li.e-invoice-list
            a(href="/member/logout") 會員載具歸戶


